
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Typing game</title>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="animate.css">
<link rel="stylesheet" href="main.css">

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="navbar-header">
    <a class="brand navbar-brand">
      {{#if session.isAuthenticated}}
        <p>
          Welcome {{session.currentUser.displayName}} - <a {{action "signOut"}}>Sign Out</a>
        </p>
      {{else}}
        <a {{action "signIn" "facebook"}} class="btn">{{fa-icon "facebook-official" style="font-size:36px"}} Sign In</a>
      {{/if}}
    </a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li><a>Chat</a></li>
  </ul>
</nav>

{{outlet}}
