<div class="jumbotron">
  <h1 class="text-center" id="title">Connect Four</h1>
</div>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="navbar-header">
    <a class="brand navbar-brand">
      {{#if session.isAuthenticated}}
        <p id="hey">
          Welcome {{session.currentUser.displayName}} - <a {{action "signOut"}}>Sign Out</a>
        </p>
      {{else}}
        <a {{action "signIn" "facebook"}} class="btn">{{fa-icon "facebook-official" style="font-size:20px"}} Sign In</a>
      {{/if}}
    </a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li>{{#link-to 'connect4'}}Connect 4{{/link-to}}</li>
    <li>{{#link-to 'chat'}}Chat{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}
